#video_page {
	color:				#005bb1;
	text-decoration:	none;
	font-weight: 		bold;

}

#video_title {
	font-family: 		"Helvetica Neue", "Lucida Grande", sans-serif;
	font-weight: 		bold;
	color: 				#005bb1;
	font-size: 			14px;
	line-height:		36px;
}

#video_info {
	color:				#424242;
/*	border-top: 		1px solid #d5d5d5; */
	border-bottom: 		1px solid #d5d5d5;
	font-size: 			12px;
	font-family: 		Monaco, monospace;
	line-height:		30px;
}

#video_ment {
	color: 				#636363;
	border-bottom: 		1px solid #d5d5d5;
	font-size: 			12px;
	font-family: 		Monaco, monospace;
}

